@import 'styles/reset';
@import 'styles/bootsrap-grid';
@import 'styles/variables';
@import 'styles/mixins';
@import 'styles/base';
@import 'styles/sections';
@import 'styles/typography';
@import 'styles/blocks';
@import 'styles/boxes';
@import 'styles/icons';

.text-center {
  text-align: center;
}

.bg-gray {
  background: $gray;
}

.section-lg {
  padding: 120px 0;
}

.row-30 {
  margin-bottom: -30px;

  & > [class*="col-"] {
    margin-bottom: 30px;
  }
}

.row-60 {
  margin-bottom: -60px;

  & > [class*="col-"] {
    margin-bottom: 60px;
  }
}
